<h1>See all the students!</h1>

<% students.forEach(function(student){ %>
	
		<form action="/students/<%= student.id %>?_method=DELETE" method="POST">
			<%= student.name %>
			<input type="submit" value="delete">
		</form>	
<% }); %>
