<h1> Create a new student</h1>

<form action="/students" method="POST">
	<label for="name">Name:</label>
	<input type="text" name="name" id="name">
	<input type="submit" value="Create Student">
</form>